<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidian.galaxy.common.mapper.AccountMapper">
    
    <select id="checkPhonePlatform" resultType="java.lang.Boolean">
        select platform <![CDATA[&]]> #{platform} > 0
        from account
        where phone = #{phone}
    </select>
</mapper>